.Minput {
    width: 20vw;
    padding-left: 6px;
    background: white;
    color: black;
    border: 1px solid white;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}
.Minput::-webkit-outer-spin-button,
.Minput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Minput[type=number] {
    -moz-appearance:textfield;
  }
.Minput::placeholder{
    color: black;
    font-weight: bold;
    letter-spacing: 0.2px;  
    font-size:15pt;
}