.NewFullVersion{
    color: white;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 90%;
}
.title{
    align-self: center;
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 12px;
}
.body{
   margin-top: 10px;
    text-indent: 2%;
}
.date_of_new{
    font-size: 10pt;
    opacity: 50%;
    align-self: flex-start;
    width: 90%;
}
.NewFullVersion_Cont{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.edit_title{
    display: flex;
    flex-direction: column;
}
.title_edit{
    font-size: 22pt;
    text-align: center;
    color:white;
    align-self: center;
    background:none;
    width: 99%;
    padding: 10px 0px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 12px;
    outline: none;
    resize: none;
    height: 30%;
}
.body_edit{
    font-size: 12pt;
    margin-top: 20px;
    color:white;
    align-self: center;
    background:none;
    width: 100%;
    padding: 10px 10px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 12px;
    outline: none;
    resize: none;
    height: 90vh;

}
