.outside_window{
    background: rgba(0, 0, 0, 0.472);
    position: fixed;
    width: 100%;
    min-height:100vh;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.inside_window{
    box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.47);
    background-color: rgb(209,39,39);
    background: rgb(0, 0, 0);
    color:rgba(255, 255, 255, 0.47);
    width: 40vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border-radius: 12px;
    z-index: 1;
    border: 1px solid white;
}
.outside_window_non_active{
    display: none;
}
.title{
    font-size: 50pt;
    font-weight: bold;
    padding: 20px;
    text-shadow:0px 0px 5px white;
}
@media screen and (max-width:700px){
    .title{
        font-size: 20pt;
    }
}