.navbar_element {
    color: white;
    position: relative;
    background: black;
    overflow: hidden;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 12px;
    padding: 10px;
    transition: ease-in-out 0.3s;
}

.Nav_Link {
    text-decoration: none;
}

.navbar_element::after {

    content: '';
    position: absolute;
    filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    background-image: repeating-linear-gradient(-170deg, transparent, transparent 1em, #ffffff 1em, #000000 50%), repeating-linear-gradient(45deg, #000000 1em, #000000 1em, #ffffff 50%);
    background-size: 3em 3em, 2em 2em;
    animation-name: ani;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.navbar_element:hover{
    opacity: 70%;
}
ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

header {
    padding: 10px 0px;
    border-bottom: 1px solid white;

}

@keyframes ani {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;

    }
}